<!DOCTYPE html>
<html>
<head>
</head>
<title>Prediction</title>


<body style="margin: 0;width: 100vw;height: 100vh;background: #edf2f2;display: flex;align-items: center;text-align: center;justify-content: center;place-items: center;overflow: hidden;font-family: 'Open Sans',serif;">

		<div class="container" style='position: relative;width: 800px;height: 1000px;border-radius: 20px;padding: 40px;box-sizing: border-box;background: #eef3f3;box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;'>
        
      <div class="brand-title" style="margin-top: 10px;font-weight: 900;font-size: 1.8rem; color: #008080; letter-spacing: 1px;">Disclaimer</div>

    <div>
      <p style="color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 20px 0 24px; text-align: justify; text-justify: inter-word;">
        The objective of this project is to help radiologists organise their differential diagnosis in
cases where the radiological findings are not specific.
It applies a dedicated mathematical algorithm to match the radiological features of the case in
question with the common diseases in that particular body section or organ. The result is then
shown as a list of diseases in a descending order of importance based on their probabilities.
All that the user needs to do is to tick the variables that exist in the system and click on
Predict.
It is important to stress that the degree of matching in this application does not depend on the
prevalence of the diseases in the community. So, clinical assessment is always required to
check the result and make sense of it.
The project is in the early stage of development and it still requires a stronger database to
gain more accuracy and to cover more fields in radiology. However, we hope that many
doctors and health professionals will find it helpful in their work. Sometimes, it has artefact
in the result like any other automated algorithm but hopefully this should not affect the
overall performance.
      </p>


    </div>
    
    </div> <!-- end of inputs -->
      
      <!--Prediction Result-->

    </div>           <!-- container.. -->
	</body>
</html>
