<!DOCTYPE html>
<html>
<head>
</head>
<title>Prediction</title>

<link rel="stylesheet" href="{{ url_for('static',filename='styles/mystyle.css') }}">  

<body>
	<!-- Java Script -->	
		
		<!-- Navbar removed-->
		<div class="container" style='  width: 800px; height: 1000px;'>
    <div class="brand-logo"></div>
    <div class="brand-title">Tumor prediction</div>
      
      
    <!-- start of the form -->
    <form action = "{{url_for('predict')}}" method ="POST" >
     
    <div class="inputs">
      
		<div>
      <input type="checkbox" id="solid" name="Tumor" value = "solid" unchecked>
      <label for="scales">Entirely solid</label>
    </div>
    
      <div>
      <input type="checkbox" id="solid_necrosis" name="Tumor" value = "solid_necrosis" unchecked>
      <label for="scales">Solid with areas of necrosis</label>
    </div>
    
      <div>
      <input type="checkbox" id="cystic" name="Tumor" value = "cystic" unchecked>
      <label for="scales">Purely cystic lesion</label>
    </div>
    
    
      <div>
      <input type="checkbox" id="unilocular" name="Tumor" value = "unilocular" unchecked>
      <label for="scales">Unilocular</label>
    </div>
    
      <div>
      <input type="checkbox" id="honeycomb" name="Tumor" value = "honeycomb" unchecked>
      <label for="scales">Multilocular honeycomb-like locules (either pure cystic or mixed)</label>
    </div>
    
      <div>
      <input type="checkbox" id="vegetations" name="Tumor" value = "vegetations" unchecked>
      <label for="scales">Small vegetations in the wall of the cystic lesion</label>
    </div>
    
      <div>
      <input type="checkbox" id="papillary" name="Tumor" value = "papillary" unchecked>
      <label for="scales">Papillary projections within the cystic lesion</label>
    </div>
    
    
      <div>
      <input type="checkbox" id="multi" name="Tumor" value = "multi" unchecked>
      <label for="scales">Bilaterality or multiple lesions</label>
    </div>
    
    
      <div>
      <input type="checkbox" id="hypointese" name="Tumor" value = "hypointese" unchecked>
      <label for="scales">Hypointense in T2 and T1 of the solid tumour or the solid part of the mixed tumour</label>
    </div>
    
      <div>
      <input type="checkbox" id="calcification" name="Tumor" value = "calcification" unchecked>
      <label for="scales">Calcification</label>
    </div>
    
      <div>
      <input type="checkbox" id="haemo" name="Tumor" value = "haemo" unchecked>
      <label for="scales">Haemorrhage</label>
    </div>
    
    
      <div>
      <input type="checkbox" id="dark" name="Tumor" value = "dark" unchecked>
      <label for="scales">T2 dark spot and T2 shading</label>
    </div>
    
    
      <div>
      <input type="checkbox" id="fat" name="Tumor" value = "fat" unchecked>
      <label for="scales">Fat (best seen as hyper T1 signal which reduced in FAT SAT sequences)</label>
    </div>
    
      <div>
      <input type="checkbox" id="diffusion" name="Tumor" value = "diffusion" unchecked>
      <label for="scales">Diffusion restriction</label>
    </div>
    
      <div>
      <input type="checkbox" id="endo" name="Tumor" value = "endo" unchecked>
      <label for="scales">Synchronous endometrial carcinoma or hyperplasia</label>
    </div> <!-- local div end of the last input -->
     
      <button type="submit">Predict</button>
    
      
    </div> <!-- end of inputs -->
      
      <!--Prediction Result-->

      <div>   <!-- table.. -->    
        <table class="styled-table">
            <thead>
                <tr>
                    <th colspan="2">Predictions</th>
                </tr>
            </thead>
            <tbody>
              {% for item in result %}
                <tr>
                    <td>{{item}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
          </div>   <!-- table.. -->     
      
    </form> 	<!-- end of the form -->
    


    </div>           <!-- container.. -->
		
	</body>
</html>
